CompileFlags:
  CompilationDatabase: build
  Add: [-std=c++17, -Wall, -Wextra, -Werror, -pedantic, -Wshadow, -Wcast-align, -Wunused, -Wpedantic, -Wold-style-cast, -Wno-error=old-style-cast, -Woverloaded-virtual]