CompileFlags:
  Add: [-std=c++17, -Ilibs/eigen-3.4.0, -Wall, -Wextra, -Werror, -pedantic, -Wshadow, -Wcast-align, -Wunused, -Wpedantic, -Wold-style-cast, -Wno-error=old-style-cast, -Woverloaded-virtual]